fastapi
uvicorn[standard]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-multipart
python-dotenv
scikit-learn
xgboost
pandas
numpy
joblib
huggingface_hub
httpx
email-validator
requests
